.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  color: #1F3442;
  font-size: 72px;
  padding: 48px;
}

h3 {
  color: #1F3442;
  font-size: 28px;
  padding: 16px;
  padding-left: 48px;
}

.h3highlight {
  font-weight: bold;
  background-color: #ECC335;
}

.big-link {
  color: #1F3442;
  text-decoration: underline;
}

#intro {
  background-color: transparent;
}

.side-nav {
  font-size: 18px;
  color: #404040;
}

#name {
  font-weight: bold;
  color: #404040;

}

.no-border-important {
  border: 0 !important;
}