.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  font-family: "Open Sans";
 }

h1 {
  color: #777873;
  font-size: 24px;
  font-weight: bold;
}

h2 {
  color: #302F2B;
  font-size: 20px;
}

h3 {
  color: #302F2B;
  font-size: 18px;
  font-weight: bold;
}

.h3 {
  color: #302F2B;
  font-size: 18px;
  font-weight: bold;
}

h4 {
  color: #777873;
  font-size: 18px;
}

h5 {
  color: #777873;
  font-size: 14px;
  font-weight: bold;
}

h6 {
  color: #777873;
  font-size: 14px;
}

p {
  color: #302F2B;
  font-size: 14px;
}

.tab-button {
  color: #302F2B;
  font-size: 14px;
}

.tab-button:hover {
  color: #A8A9A4;
  text-decoration: none;
}

.tab-button:active {
  color: #A8A9A4;
  text-decoration: none;
  background-color: #FFFFFF !important;
}

/* a:hover{
  color: #A8A9A4;
  border-bottom: 1px solid currentColor;
  display: inline-block;
  line-height: 0.8;
} */

.link {
  color: #777873;
  border-bottom: 1px solid currentColor;
  display: inline-block;
  line-height: 0.8;
  font-weight: normal;
}

.link:hover{
  color: #A8A9A4;
  border-bottom: 1px solid currentColor;
  display: inline-block;
  line-height: 0.8;
  font-weight: normal;
}

.caption {
  color: #777873;
  font-size: 12px;
}

.card:hover{
  /* outline: 10px solid red;
  outline-offset: -10px; */
  opacity: 0.85;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.soft-break {
  color: #D2D2CA;
  height: 2px;
  border-width: 2px;
}