@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  font-family: 'Open Sans', sans-serif;
 }

h1 {
  color: #777873;
  font-size: 24px;
}

h2 {
  color: #302F2B;
  font-size: 20px;
}

h3 {
  color: #302F2B;
  font-size: 18px;
  font-weight: 600;
}

.h3 {
  color: #302F2B;
  font-size: 18px;
  font-weight: 600;
}

h4 {
  color: #777873;
  font-size: 18px;
}

h5 {
  color: #777873;
  font-size: 14px;
  font-weight: 600;
}

h6 {
  color: #777873;
  font-size: 14px;
}

.h6 {
  color: #302F2B;
  font-size: 14px;
}


p {
  color: #302F2B;
  font-size: 14px;
}

.p-link {
  color: #777873;
  font-size: 14px;
}

.p-link:hover {
  color: #94958F;
  text-decoration: none;
}

.btn-my-dark {
  background-color: #777873;
  color: #FFFFFF;
}

.tab-button {
  color: #BCBDB7 !important;
  font-size: 14px;
  padding-right: 20px;
  cursor: pointer;
}

.tab-button:hover {
  color: #94958F !important;
}

.my-dropdown {
  background-color: #FFFFFF;
  color: #777873 !important;
  font-size: 14px;  
  cursor: pointer;
}

.my-dropdown:active:hover {
  background-color: #FFFFFF;
  color: #BCBDB7 !important;
  font-size: 14px;  
  cursor: pointer;
}

.dropdown-item {
  background-color: #FFFFFF;
  color: #302F2B;
}

.dropdown-item:active {
  background-color: #E7E7DF;
  color: #302F2B;
}

/* .tab-button:hover {
  color: #A8A9A4;
  text-decoration: none;
}

.tab-button:active {
  color: #A8A9A4;
  text-decoration: none;
  background-color: #FFFFFF !important;
} */

/* a:hover{
  color: #A8A9A4;
  border-bottom: 1px solid currentColor;
  display: inline-block;
  line-height: 0.8;
} */

.link {
  color: #777873;
  border-bottom: 1px solid currentColor;
  display: inline-block;
  line-height: 0.8;
  font-weight: normal;
}

.link:hover{
  color: #A8A9A4;
  border-bottom: 1px solid currentColor;
  display: inline-block;
  line-height: 0.8;
  font-weight: normal;
  text-decoration: none;
}

.link-img {
  color: #302F2B;
  font-size: 14px; 
}

.link-img:hover {
  color: #777873;
  font-size: 14px; 
}


.aboveFoldLink {
  color: #777873 !important;
  font-weight: normal;
  cursor: pointer;
  font-size: 14px;
}

.aboveFoldLink:hover{
  color: #A8A9A4 !important;
  font-weight: normal;
  text-decoration: none;
}

.back-link {
  color: #777873 !important;
  font-size: 14px !important;
}

.back-link:hover {
  color: #94958F !important;
  text-decoration: none !important;
}

.caption {
  color: #777873;
  font-size: 12px;
}

.card:hover{
  /* outline: 10px solid red;
  outline-offset: -10px; */
  opacity: 0.85;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.soft-break {
  color: #D2D2CA;
  height: 2px;
  border-width: 2px;
}

.pointer {
  cursor: pointer;
}

.darknbold {
  color: #4C4D48 !important;
  font-weight: bold;
}

.light {
  color: #D2D2CA !important;
}

.mid {
  color: #777873;
}

.img-responsive {
  width: 100%;
}

.centered-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-title { 
  font-size: 1.5em;
  padding: 15px; 
  position: absolute; 
  left: 0; 
  width: 100%; 
}

.card-category { 
  font-size: 1em;
  padding: 15px; 
  margin-top: 40px;
  position: absolute; 
  left: 0; 
  width: 100%; 
}

.white-background{
  padding: 2px; 
  background: #ffffff;
  background: rgba(255, 255, 255, 0.4);
}

.aboveFoldTitle{
  font-size: 3.5em;
  font-weight: bold;
  color: #4C4D48;
  line-height: 0.8;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.decreaseSpacing {
  line-height: 0.8;
  margin-bottom: 0.25em;
}

.increaseSpacing {
  line-height: 1.5;
}

.sixteenfont {
  color: #4C4D48;
  font-size: 16px;
}